
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own 'ratedMovies'
    match /users/{userId}/ratedMovies/{movieId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    // Allow users to read and write documents in their own 'ratedMovies' collection
    match /users/{userId}/ratedMovies {
        allow list: if request.auth != null && request.auth.uid == userId;
        allow create: if request.auth != null && request.auth.uid == userId;
    }
  }
}
